@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
  --page-width: 70rem;
}

.textBox {
  display: flex;
  position: relative;
  padding:  1rem;
  margin: 1rem 0;
  min-height: 5rem;
  background-color: #dddddd;
  border-radius: 1rem;
}

nav {
  background-color: #111111;
  color: #aaaaaa;
  padding: 1rem 0;
}

.nav__content{
  max-width: var(--page-width);
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: auto;
}

.main-section {
  margin: auto;
  margin-top: 2rem;
  max-width: var(--page-width);
}

.textInput{
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
}
.caret {
  position: absolute;
  margin-left: -0.3rem;
}

.mistake.completed {
  color: #ff0000;
}

.completed {
  color: #777777;
}

/* Score board styles */

.score {
  display: flex;
  justify-content: space-between;
}

.test-status{
  width: 100%;
}

.score-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.start-button {
  padding: 0.3rem;
}

/* Count down styles */
.countdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.duration-input{
  width: 3rem;
  margin-right: 0.3rem;
}

/* Keyboard styles */

.keyboard-base {
    margin: auto;
    max-width: 50rem;
    padding: 20px;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(5, 3rem);
    grid-gap: 5px;
}


.key {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    grid-column: span 2;
    text-align: center;
    padding-top: 0.5rem;
}

.key:hover {
  background-color: #999999;
  
}

.pressed {
  background-color: #999999;
}

.correct {
  background-color: #008000;
}

.incorrect {
  background-color: #ff0000;
}

.expected {
  background-color: #1133ff;
}

.delete {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.return {
    grid-column: span 4;
}

.leftshift {
    grid-column: span 5;
}

.rightshift {
    grid-column: span 5;
}

.leftctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
    font-size: 14px;
}

.space {
    grid-column: span 13;
}
